@use '../variables' as *;

@mixin padding($top: null, $right: null, $bottom: null, $left: null) {
  @if $top != null { padding-top: $top; }
  @if $right != null { padding-right: $right; }
  @if $bottom != null { padding-bottom: $bottom; }
  @if $left != null { padding-left: $left; }
}

@mixin margin($top: null, $right: null, $bottom: null, $left: null) {
  @if $top != null { margin-top: $top; }
  @if $right != null { margin-right: $right; }
  @if $bottom != null { margin-bottom: $bottom; }
  @if $left != null { margin-left: $left; }
}

@mixin gap($value) {
  gap: $value;
}
