$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 0.75rem;
$spacing-base: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 2rem;
$spacing-2xl: 3rem;
$spacing-3xl: 4rem;
$spacing-nav-y: 0.625rem;
$spacing-nav-gap: 2.5rem;
$spacing-footer-y: 3.75rem;
$spacing-footer-x: 6.25rem;
$spacing-mobile-x: 1.25rem;
$spacing-header-mobile-y: 0.625rem;
$spacing-header-y: 1.1875rem;
$spacing-catalog-gap: 6.875rem;
$spacing-catalog-y: 5rem;
$spacing-catalog-x: 3.75rem;
$spacing-grid-gap: 2.5rem;
$spacing-card-max: 18.125rem;
$spacing-card-image: 1.9375rem;
$spacing-card-radius: 0.5rem;
$spacing-card-prices-gap: 0.625rem;
$spacing-card-mobile-gap: 1.25rem;
$spacing-card-mobile-max: 150px;
$spacing-catalog-grid-max: 320px;
