$font-family-base: 'Golos Text', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
$font-size-base: 1rem;
$font-size-sm: 0.875rem;
$font-size-md: 1.5rem;
$font-size-lg: 1.25rem;
$font-size-xs: 0.75rem;
$font-size-xl: 2rem;
$font-size-catalog-title: 2.625rem;
$font-size-2xl: 4rem;
$font-size-title-mobile: 1.625rem;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$line-height-base: 1.4;
$line-height-tight: 1.1;
$line-height-sm: 1.25rem;
