@use './variables' as *;

@import '@fontsource/golos-text/cyrillic-400.css';
@import '@fontsource/golos-text/cyrillic-500.css';

html {
  font-size: clamp(14px, 1.5vw + 0.5rem, 16px);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
}

